body{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/nature-background.jpg");
    color: #ffffff;
}

/* -=-=-=-=-=-GLOBAL-=-=--=-=- */
a{
    text-decoration: none;
}

ul{
    padding-left: 0px;
}

li{

    list-style-type: none;
    margin-left: none;
}

/* -=-=-=-=---=TOP PAGE -=-=-=- */


/* -=-=-=-=-=-SIDE NAV-=-=-=- */
.menu {
    left:5%;
    color:#ffffff;
    background-color: #a43f49;
    box-sizing: border-box;
    height: 100vh;  
    max-height: 100vh !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: fixed !important;
    top: calc(0px);  
    width: 20%;
    will-change: transform;
    z-index: 9999 !important;
    text-align: center;
}

.headshot{
    margin-top: 30px;
    width: 100%;
}

.head-pic{
    border-radius: 50%;
}

.title{
    margin:25px 0px;

}

.nav-list:first-child{
    border-top: #ffffff 2px solid;
}

.nav-list li{
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: #ffffff 2px solid;
}

/* -=-=--=-=-=-=-=-ABOUT-=-=--=-=-=- */


.about{
    padding: 100px 0px;
}

/* -=-==-==-=-= */

.work{
    color:white;
}