.nav-wrapper {
  padding: 3rem 0;
}

.nav-links {
  font-size: 1.5rem;
}

.code-icon {
  font-size: 4rem;
}

.fa-bars,
.fa-github,
.fa-file-word,
.fa-linkedin-in,
.fa-at,
.nav-menu {
  /* background-color: var(--sec-bg-color); */
  color: var(--main-txt-color);
  font-size: 2.5rem;
  margin: 1rem;
  /* border: var(--border); */
}

.nav-menu {
  /* background-color: var(--sec-bg-color); */
  color: var(--main-txt-color);
  font-size: 2.5rem;
  margin: 1rem;
  /* border: var(--border); */
}

.nav-menu li {
  padding: 0.5rem;
  border: 1px solid #000;
  text-align: center;
  list-style: none;
}

.web-links {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stand {
  color: var(--lead-txt-color);
  font-weight: bold;
}

.material-icons {
  font-size: 6.5rem;
  display: flex;
  justify-content: center;
}

/* ===================================================== */
/* ---------------------Work Section --------------------*/
/* ===================================================== */

h3 {
  font-size: 2rem;
}

.gallary {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallary-item {
  width: auto;
  max-height: 200px;
  margin: 1rem;
}

/* ===================================================== */
/* ---------------------Contact----- --------------------*/
/* ===================================================== */

.card-panel {
  background-color: var(--sec-bg-color);
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input,
textarea {
  color: var(--lead-txt-color);
  font-size: 1rem;
  height: 75px;
  padding: 0.5rem;
  border: var(--border);
}

button {
  background-color: var(--sec-bg-color);
  color: var(--lead-txt-color);
  margin: 0 2rem 2rem 2rem;
  padding: 0.5rem 2rem;
  border: var(--border);
}

button:hover {
  cursor: pointer;
}

.info-panel {
}

.info-list li {
  margin: 0;
}
